


body{
  background-color:#C9BBCF;
}

@media(min-width:500px) {
  .Flex-Container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  border-radius: 1.5rem;
    background-color:#A66CFF;
  align-content: center;
  }

}
